body{
    background-image: url("https://geniusrabbit.oss-cn-shenzhen.aliyuncs.com/background.jpg?Expires=1515073037&OSSAccessKeyId=LTAIULN9by18sqi6&Signature=Uz3cMa%2FuFzxNPIGuD2hpirpRBJk%3D");
    background-size: cover;
}
h1{
    color: aqua;
    text-align: center;
}