body{
    background-image: url("https://geniusrabbit.oss-cn-shenzhen.aliyuncs.com/background.jpg?Expires=37515071396&OSSAccessKeyId=LTAIULN9by18sqi6&Signature=JtEw7apRQb2XRfTNX9YQoTbun2k%3D");
    background-size: cover;
}
h1{
    color: aqua;
    text-align: center;
}